* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    width: 90%;
    margin: auto;
}

.top-bar {
    background: #018790;
    color: white;
    padding: 8px 0;
    font-size: 14px;
}

.top-bar .right {
    float: right;
}

.navbar {
    background: #005461;
    padding: 15px 0;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px; 
}


.logo-icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
}


.logo-text {
    font-family: Arial, sans-serif;
    font-size: 50px;      /* naik dari 26px */
    font-weight: 1000;
    line-height: 1;
    letter-spacing: 0.4px;

    color: #FFFFFF;

    text-shadow:
        -1px -1px 0 #00B7B5,
         1px -1px 0 #00B7B5,
        -1px  1px 0 #00B7B5,
         1px  1px 0 #00B7B5;
}



.search input {
    padding: 6px 10px;
    width: 250px;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
}

.btn {
    background: #018790;
    color: white;
    padding: 6px 14px;
    text-decoration: none;
    border-radius: 4px;
}

.content {
    min-height: 60vh;
    padding: 40px;
}

.footer {
    background: #005461;
    color: white;
    padding: 24px 0;
}

.footer-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 30px;
}

.footer-logo {
    font-size: 22px;
    font-weight: bold;
}

.footer-logo i {
    margin-right: 6px;
}

.footer ul {
    list-style: none;
    margin-top: 10px;
}

.footer ul li {
    margin-bottom: 8px;
}

.license {
    background: #018790;
    padding: 8px;
    margin-top: 10px;
    font-size: 13px;
}

.social i {
    margin-right: 10px;
    font-size: 18px;
}

.footer-right p {
    margin: 8px 0;
}

.copyright {
    background: #018790;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}
